# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Term5-Mobile_Assignment.iml
# Datasource local storage ignored files
/../../../../../../../../:\Dev\TFS\Term 5\Term5-Mobile_Assignment\.idea\.idea.Term5-Mobile_Assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
