# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Term5-Mobile_Assignment1.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Dev\TFS\CROSSPLATFORM_CLASS\Term5-Mobile_Assignment1\.idea\.idea.Term5-Mobile_Assignment1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
